.content {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  overflow: hidden;
}

body {
  margin: 32px;
}

.content img {
  width: 100%;
}

.title {
  grid-column: 1 / 10;
  grid-row: 6;
  font-size: 3em;
  margin: 192px 0px;
}

.divider {
  grid-column: 1 / 10;
  grid-row: 12;
  border-bottom: 2px solid black;
  margin-bottom: 16px;
}

.brand_name {
  grid-column: 1 / 10;
  grid-row: 14;
  margin-bottom: 16px;
}

.img1 {
  grid-column: 5 / 10;
  grid-row: 15;
  margin-bottom: 16px;
}

.items {
  grid-column: 1 / 5;
  grid-row: 16;
}


.img2 {
  grid-column: 5 / 10;
  grid-row: 16;
  margin-bottom: 16px;
}

.img3 {
  grid-column: 5 / 10;
  grid-row: 17;
  margin-bottom: 16px;
}

.img4 {
  grid-column: 5 / 10;
  grid-row: 18;
  margin-bottom: 16px;
}

.info {
  grid-column: 5 / 10;
  grid-row: 19;
}

.item_tank {
  grid-column: 1 / 5;
  grid-row: 20;
  margin-top: 136px;
}

.img5 {
  grid-column: 5 / 10;
  grid-row: 20;
  margin-top: 136px;
}

@media screen and (max-width: 640px) {

  .title {
    margin: 96px 0px;
  }


  body {
    margin: 24px;
  }


  .img1 {
    grid-column: 1 / 10;
    grid-row: 15;
    margin-bottom: 16px;
  }

  .items {
    grid-column: 1 / 10;
    grid-row: 16;
  }


  .img2 {
    grid-column: 1 / 10;
    grid-row: 17;
    margin: 16px 0px;
  }

  .img3 {
    grid-column: 1 / 10;
    grid-row: 18;
    margin-bottom: 16px;
  }

  .img4 {
    grid-column: 1 / 10;
    grid-row: 19;
    margin-bottom: 16px;
  }

  .info {
    grid-column: 1 / 10;
    grid-row: 20;
  }

  .item_tank {
    grid-column: 1 / 10;
    grid-row: 22;
    margin-top: 16px;
  }

  .img5 {
    grid-column: 1/ 10;
    grid-row: 21;
    margin-top: 16px;
  }


}