body {
  margin: 32px;
  background-color: #F5F5F5;
  font-family: neue-haas-grotesk-text, sans-serif;
}

.content {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  overflow: hidden;
}

.content img {
  width: 100%;
}

.title {
  grid-column: 1 / 10;
  grid-row: 6;
  font-size: 3em;
  margin: 192px 0px;
}

.divider {
  grid-column: 1 / 10;
  grid-row: 12;
  border-bottom: 2px solid black;
  margin-bottom: 16px;
}

.brand_name {
  grid-column: 1 / 10;
  grid-row: 14;
  margin-bottom: 16px;
}

.img1 {
  grid-column: 4 / 10;
  grid-row: 15;
  margin-bottom: 16px;
}


@media screen and (max-width: 640px) {

  body {
    margin: 24px;
  }

  .img1 {
    grid-column: 1 / 10;
    grid-row: 15;
    margin-bottom: 16px;
  }



}