body {
  margin: 32px;
  background-color: #F5F5F5;
  font-family: neue-haas-grotesk-text, sans-serif;
}

.content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
}

.divider {
  grid-column: 1 / 9;
  grid-row: 12;
  border-bottom: 2px solid black;
  margin-bottom: 16px;
}


.links {
  grid-column: 4 / 9;
  grid-row: 13;
  border-bottom: 2px solid black;
  margin-bottom: 16px;
}




@media screen and (max-width: 640px) {


  body {
    margin: 24px;
  }



}